<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tigerparents.nut"
    android:versionCode="2"
    android:versionName="0.6">

    <application
        android:name="net.tigerparents.nut.NutritionTrackerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="net.tigerparents.nut.StartScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.tigerparents.nut.NutritionTracker"
            android:label="@string/title_activity_nutrition_tracker"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.FoodEntry"
            android:label="@string/title_activity_food_entry"
            android:parentActivityName="net.tigerparents.nut.NutritionTracker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NutritionTracker" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.NutritionInformationDisplay"
            android:label="@string/title_activity_nutrition_information_display"
            android:parentActivityName="net.tigerparents.nut.NutritionTracker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NutritionTracker" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.EnterUserData"
            android:label="@string/title_activity_enter_user_data"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ShowReports"
            android:label="@string/title_activity_show_reports"
            android:parentActivityName="net.tigerparents.nut.NutritionTracker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NutritionTracker" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ExportDialog"
            android:label="@string/title_activity_export_dialog"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ExportDialogError"
            android:label="@string/title_activity_export_dialog_error"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ShoppingEntry"
            android:label="@string/title_activity_shopping_entry"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ShoppingTracker"
            android:label="@string/title_activity_shopping_tracker"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ShowRecentEntries"
            android:label="@string/title_activity_show_recent_entries"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="net.tigerparents.nut.RecommendedFood"
            android:label="@string/title_activity_recommended_food"
            android:parentActivityName="net.tigerparents.nut.ShowReports">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ShowReports" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.EnterUserData2"
            android:label="@string/title_activity_enter_user_data2"
            android:parentActivityName="net.tigerparents.nut.EnterUserData">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EnterUserData" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
