<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tigerparents.nut">

    <application
        android:name="net.tigerparents.nut.NutritionTrackerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.tigerparents.nut.StartScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.tigerparents.nut.NutritionTracker"
            android:label="@string/title_activity_nutrition_tracker"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.FoodEntry"
            android:label="@string/title_activity_food_entry"
            android:parentActivityName="net.tigerparents.nut.NutritionTracker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NutritionTracker" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.NutritionInformationDisplay"
            android:label="@string/title_activity_nutrition_information_display"
            android:parentActivityName="net.tigerparents.nut.NutritionTracker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NutritionTracker" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.EnterUserData"
            android:label="@string/title_activity_enter_user_data"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ShowReports"
            android:label="@string/title_activity_show_reports"
            android:parentActivityName="net.tigerparents.nut.NutritionTracker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NutritionTracker" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ExportDialog"
            android:label="@string/title_activity_export_dialog"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
        <activity
            android:name="net.tigerparents.nut.ExportDialogError"
            android:label="@string/title_activity_export_dialog_error"
            android:parentActivityName="net.tigerparents.nut.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartScreen" />
        </activity>
    </application>

</manifest>
